<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.technovalley">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<!--    <uses-permission android:name="com.android.vending.BILLING" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_bangla_1_128"
        android:label="@string/title"
        android:roundIcon="@drawable/ic_bangla_1_128"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <service
            android:name="com.technovalley.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name="com.technovalley.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.technovalley.StudyTopic"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.technovalley.topic.bangla.BanglaTopic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.bangla.BanglaAlphabetVowel"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.bangla.BanglaAlphabetConsonent"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.bangla.BanglaDay"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.bangla.BanglaMonth"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.bangla.BanglaNumber"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.bangla.BanglaSeason"
            android:screenOrientation="portrait" />
        <!--<activity
            android:name="com.technovalley.topic.bangla.BanglaPoemList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.bangla.BanglaPoemDetails"
            android:screenOrientation="portrait" />-->

        <activity
            android:name="com.technovalley.topic.english.EnglishTopic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.english.EnglishAlphabet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.english.EnglishDay"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.english.EnglishMonth"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.english.EnglishNumber"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.english.EnglishSeason"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.technovalley.topic.arabic.ArabicTopic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.arabic.ArabicAlphabet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.arabic.ArabicDay"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.arabic.ArabicMonth"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.arabic.ArabicNumber"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.technovalley.topic.arabic.ArabicSeason"
            android:screenOrientation="portrait" />

    </application>

</manifest>